In [ ]:
import pandas as pd

df = pd.read_csv("transactions.csv")

In [ ]:
print(df.columns)

Index(['Date', 'Transaction Description', 'Category', 'Amount', 'Type'], dtype='object')

In [ ]:
df.iloc[0:6]

         Date                   Transaction Description      Category
0  2020-01-02                               Score each.  Food & Drink
1  2020-01-02                       Quality throughout.     Utilities
2  2020-01-04        Instead ahead despite measure ago.          Rent
3  2020-01-05  Information last everything thank serve.    Investment
4  2020-01-13              Future choice whatever from.  Food & Drink