**1. reading and writing data**

In [138]:
import pandas as pd
import numpy as np

df = pd.read_csv("seed/transactions.csv")
pd.set_option("display.float_format", "{:,.2f}".format)

2. inspecting and summarizing

In [139]:
df.head()
df.info()
df.describe()
df.shape
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51640 entries, 0 to 51639
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ext_id                51640 non-null  object
 1   account_ext_id        51640 non-null  object
 2   posted_at             51640 non-null  object
 3   txn_date              51640 non-null  object
 4   amount                51640 non-null  float64
 5   currency              51640 non-null  object
 6   direction             51640 non-null  object
 7   section_name          51640 non-null  object
 8   category_name         51640 non-null  object
 9   channel               51640 non-null  object
 10  description           51640 non-null  object
 11  counterparty_name     51640 non-null  object
 12  counterparty_account  9000 non-null   object
 13  counterparty_bic      0 non-null      float64
 14  transfer_ref          6000 non-null   object
 15  ext_reference         0 non-null      float64
dtypes: float64(3), object(13)
memory usage: 6.3+ MB

Index(['ext_id', 'account_ext_id', 'posted_at', 'txn_date', 'amount',
       'currency', 'direction', 'section_name', 'category_name', 'channel',
       'description', 'counterparty_name', 'counterparty_account',
       'counterparty_bic', 'transfer_ref', 'ext_reference'],
      dtype='object')

3. selecting and filtering

In [153]:
print(df["ext_id"])
print(df[["account_ext_id", "amount"]])
df.iloc[0:20, np.r_[0, 3:10]]

0        T-0000001
1        T-0000002
2        T-0000003
3        T-0000004
4        T-0000005
           ...
51635    T-0051636
51636    T-0051637
51637    T-0051638
51638    T-0051639
51639    T-0051640
Name: ext_id, Length: 51640, dtype: object
      account_ext_id    amount
0       A-U00001-CHK  8,703.58
1        A-C00050-OP  8,703.58
2       A-U00001-CHK  2,728.39
3       A-U00001-CHK    114.28
4       A-U00001-CHK     73.95
...              ...       ...
51635    A-C00050-OP 26,160.11
51636    A-C00050-OP 12,930.79
51637    A-C00050-OP 14,634.93
51638    A-C00050-OP 21,179.12
51639    A-C00050-OP 51,913.11

[51640 rows x 2 columns]

,ext_id,txn_date,amount,currency,direction,section_name,category_name,channel
0,T-0000001,2025-01-25,"8,703.58",EUR,CREDIT,income,Salary,SEPA
1,T-0000002,2025-01-25,"8,703.58",EUR,DEBIT,expense,Payroll,SEPA
2,T-0000003,2025-01-03,"2,728.39",EUR,DEBIT,expense,Rent,SEPA
3,T-0000004,2025-01-19,114.28,EUR,DEBIT,expense,Utilities,SEPA
4,T-0000005,2025-01-13,73.95,EUR,DEBIT,expense,Utilities,SEPA
5,T-0000006,2025-01-07,"1,477.25",EUR,DEBIT,transfer,Savings,INTERNAL
6,T-0000007,2025-01-07,"1,477.25",EUR,CREDIT,transfer,Savings,INTERNAL
7,T-0000008,2025-01-24,28.26,EUR,DEBIT,expense,Travel,CARD
8,T-0000009,2025-01-21,133.48,EUR,DEBIT,expense,Transport,CARD
9,T-0000010,2025-01-14,69.84,EUR,DEBIT,expense,Groceries,CARD
10,T-0000011,2025-01-30,184.36,EUR,DEBIT,expense,Fitness,CARD
11,T-0000012,2025-01-11,57.53,EUR,DEBIT,expense,Fitness,CARD
12,T-0000013,2025-01-05,30.40,EUR,DEBIT,expense,Dining,CARD
13,T-0000014,2025-01-15,33.60,EUR,DEBIT,expense,Travel,CARD
14,T-0000015,2025-01-31,73.36,EUR,DEBIT,expense,Utilities,CARD
15,T-0000016,2025-01-27,"8,746.23",EUR,CREDIT,income,Salary,SEPA
16,T-0000017,2025-01-27,"8,746.23",EUR,DEBIT,expense,Payroll,SEPA
17,T-0000018,2025-01-02,"2,713.94",EUR,DEBIT,expense,Rent,SEPA
18,T-0000019,2025-01-20,145.23,EUR,DEBIT,expense,Utilities,SEPA
19,T-0000020,2025-01-13,92.34,EUR,DEBIT,expense,Utilities,SEPA

4. adding and transforming columns

In [155]:
net_total = df.loc[df["direction"] == "CREDIT", "amount"].sum() - df.loc[df["direction"] == "DEBIT", "amount"].sum()
print("credit: " + str(df.loc[df["direction"] == "CREDIT", "amount"].sum()))
print("debit: " + str(df.loc[df["direction"] == "DEBIT", "amount"].sum()))
print("total: " + str(net_total))

credit: 305873635.07
debit: 36504578.61
total: 269369056.46

5. Handle missing data

In [142]:
df.isna().sum()

ext_id                      0
account_ext_id              0
posted_at                   0
txn_date                    0
amount                      0
currency                    0
direction                   0
section_name                0
category_name               0
channel                     0
description                 0
counterparty_name           0
counterparty_account    42640
counterparty_bic        51640
transfer_ref            45640
ext_reference           51640
dtype: int64

In [143]:
df.fillna(0, inplace=True)
df.dropna(subset=["amount"], inplace=True)

6. Sorting and reindexing

In [144]:
df.sort_values(by="amount", ascending=False)

,ext_id,account_ext_id,posted_at,txn_date,amount,currency,direction,section_name,category_name,channel,description,counterparty_name,counterparty_account,counterparty_bic,transfer_ref,ext_reference
50522,T-0050523,A-C00049-OP,2025-05-02T11:19:00,2025-05-02,"97,457.44",EUR,CREDIT,income,Customer payment,SEPA,Invoice settlement from Vertex Labs,Vertex Labs,0,0.00,0,0.00
50799,T-0050800,A-C00012-OP,2025-06-21T10:15:00,2025-06-21,"97,454.38",EUR,CREDIT,income,Customer payment,SEPA,Invoice settlement from Orbit Foods,Orbit Foods,0,0.00,0,0.00
50785,T-0050786,A-C00011-OP,2025-06-17T09:48:00,2025-06-17,"97,453.54",EUR,CREDIT,income,Customer payment,SEPA,Invoice settlement from City Council,City Council,0,0.00,0,0.00
49086,T-0049087,A-C00034-OP,2025-04-02T08:21:00,2025-04-02,"97,451.43",EUR,CREDIT,income,Customer payment,SEPA,Invoice settlement from Horizon Logistics,Horizon Logistics,0,0.00,0,0.00
45914,T-0045915,A-C00042-OP,2025-01-23T15:59:00,2025-01-23,"97,448.02",EUR,CREDIT,income,Customer payment,SEPA,Invoice settlement from Riverside Hotels,Riverside Hotels,0,0.00,0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43548,T-0043549,A-U00408-CHK,2025-06-23T07:26:00,2025-06-23,8.06,EUR,DEBIT,expense,Dining,CARD,Dining - Gall & Gall,Gall & Gall,0,0.00,0,0.00
43659,T-0043660,A-U00415-CHK,2025-06-02T22:05:00,2025-06-02,8.05,EUR,DEBIT,expense,Subscriptions,CARD,Subscriptions - Netflix,Netflix,0,0.00,0,0.00
5472,T-0005473,A-U00366-CHK,2025-01-05T20:25:00,2025-01-05,8.05,EUR,DEBIT,expense,Groceries,CARD,Groceries - Jumbo Supermarkt,Jumbo Supermarkt,0,0.00,0,0.00
27149,T-0027150,A-U00314-CHK,2025-04-12T10:33:00,2025-04-12,8.04,EUR,DEBIT,expense,Groceries,CARD,Groceries - Albert Heijn,Albert Heijn,0,0.00,0,0.00
13966,T-0013967,A-U00435-CHK,2025-02-17T16:12:00,2025-02-17,8.02,EUR,DEBIT,expense,Travel,CARD,Travel - KLM,KLM,0,0.00,0,0.00

In [156]:
df.reset_index(drop=True, inplace=True)

7. Grouping and aggregating

In [157]:
df.groupby("category_name")["amount"].sum()

category_name
Customer payment   285,333,914.47
Dining                 404,840.95
Electronics            129,907.97
Fitness                137,262.27
Groceries              259,742.65
Healthcare             140,190.74
Home                   286,272.71
Payroll             18,171,277.68
Rent                 7,442,935.19
Salary              18,171,277.68
Savings              4,736,885.84
Shopping               278,863.78
Subscriptions          275,717.41
Taxes                2,926,330.62
Transport              264,508.79
Travel                 271,658.94
Utilities              966,681.96
Vendors              2,179,944.03
Name: amount, dtype: float64

In [158]:
df.groupby(["txn_date"]).agg({"amount": "mean"})

             amount
txn_date
2025-01-01   762.32
2025-01-02 7,659.78
2025-01-03 8,008.89
2025-01-04 3,567.98
2025-01-05 3,843.06
...             ...
2025-06-26 6,998.03
2025-06-27 7,588.37
2025-06-28 8,289.42
2025-06-29 8,880.08
2025-06-30 6,959.74

[181 rows x 1 columns]

8. Merging and joining

In [160]:
df_accounts = pd.read_csv("seed/trades.csv")
df_trades = pd.read_csv("seed/transactions.csv")
pd.merge(df_accounts, df_trades, on="account_ext_id", how="left")

,ext_id_x,account_ext_id,instrument_ext_id,side,qty,price,fees,tax,trade_time,settle_dt,...,direction,section_name,category_name,channel,description,counterparty_name,counterparty_account,counterparty_bic,transfer_ref,ext_reference
0,TR-0000001,A-U00244-BRK,I-MSFT,BUY,23.79,419.05,2.85,0.70,2024-01-01T11:25:00,2024-01-03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TR-0000002,A-U00244-BRK,I-NVDA,BUY,9.58,100.74,2.00,1.74,2024-06-01T10:20:00,2024-06-03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TR-0000003,A-U00244-BRK,I-VWRL,BUY,13.12,327.56,3.26,0.74,2024-04-03T15:22:00,2024-04-05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TR-0000004,A-U00244-BRK,I-TSLA,BUY,15.39,201.79,3.96,1.82,2024-10-24T13:03:00,2024-10-26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TR-0000005,A-U00244-BRK,I-AAPL,BUY,1.14,471.86,1.46,0.12,2024-04-04T11:38:00,2024-04-06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1203,TR-0001204,A-U00452-BRK,I-TSLA,BUY,15.78,432.65,1.40,0.03,2024-06-02T16:08:00,2024-06-04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1204,TR-0001205,A-U00452-BRK,I-NVDA,BUY,15.98,363.68,2.64,0.20,2024-05-18T16:29:00,2024-05-20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1205,TR-0001206,A-U00452-BRK,I-MSFT,BUY,2.78,96.64,3.61,1.44,2024-07-01T16:16:00,2024-07-03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1206,TR-0001207,A-U00452-BRK,I-TSLA,SELL,20.83,332.23,1.63,0.76,2024-08-17T13:35:00,2024-08-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1207,TR-0001208,A-U00452-BRK,I-VWRL,BUY,21.81,482.84,0.66,1.54,2024-04-13T10:49:00,2024-04-15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

9. Pivoting and reshaping

In [168]:
df.pivot_table(index="txn_date", values="amount", aggfunc=["count", "sum"])

            count          sum
           amount       amount
txn_date
2025-01-01    251   191,341.08
2025-01-02    308 2,359,211.63
2025-01-03    250 2,002,222.61
2025-01-04    568 2,026,612.52
2025-01-05    469 1,802,397.10
...           ...          ...
2025-06-26    424 2,967,164.37
2025-06-27    398 3,020,172.30
2025-06-28    392 3,249,451.77
2025-06-29    165 1,465,213.95
2025-06-30    160 1,113,557.99

[181 rows x 2 columns]

melt() turns wide tables into long tables — each former column becomes a key–value pair under "Metric" and "Value", while columns in id_vars remain constant.

In [ ]:
df.melt(id_vars=["txn_date"], var_name="Metric", value_name="Value")

          txn_date         Metric      Value
0       2025-01-25         ext_id  T-0000001
1       2025-01-25         ext_id  T-0000002
2       2025-01-03         ext_id  T-0000003
3       2025-01-19         ext_id  T-0000004
4       2025-01-13         ext_id  T-0000005
...            ...            ...        ...
774595  2025-06-06  ext_reference       0.00
774596  2025-06-05  ext_reference       0.00
774597  2025-06-07  ext_reference       0.00
774598  2025-06-24  ext_reference       0.00
774599  2025-06-17  ext_reference       0.00

[774600 rows x 3 columns]

10. Functions and mapping

In [169]:
print(df["amount"].apply(lambda x: round(x, 0)))

0        8,704.00
1        8,704.00
2        2,728.00
3          114.00
4           74.00
           ...
51635   26,160.00
51636   12,931.00
51637   14,635.00
51638   21,179.00
51639   51,913.00
Name: amount, Length: 51640, dtype: float64

In [171]:
print(df["amount"].map(lambda x: "small" if x < 1000 else "large"))

0        large
1        large
2        large
3        small
4        small
         ...
51635    large
51636    large
51637    large
51638    large
51639    large
Name: amount, Length: 51640, dtype: object